In [41]:
import pandas as pd

In [53]:
#AGREGAMOS EL DATA SET Y VISUALIZAMOS LA PRIMERAS 5 COLUMNAS PARA VALIDAR QUE TODO ESTA BIEN#

df = pd.read_csv("DATA/gov_10q_ggfa_page_linear_2_0.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,na_item,National accounts indicator (ESA 2010),finpos,Financial position,stk_flow,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q1,NaN,-197341.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q2,NaN,-198387.8,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q3,NaN,-190542.5,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q4,NaN,-194800.6,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2019-Q1,NaN,-197411.8,NaN,NaN,NaN,NaN,NaN

In [54]:
# VALIDAMOS LA INFO QUE HAY DEL DATA SET (u estructira al igual que el tipo de dato como el valor de nulos que posee)#

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   STRUCTURE                               930 non-null    object
 1   STRUCTURE_ID                            930 non-null    object
 2   STRUCTURE_NAME                          930 non-null    object
 3   freq                                    930 non-null    object
 4   Time frequency                          930 non-null    object
 5   na_item                                 930 non-null    object
 6   National accounts indicator (ESA 2010)  930 non-null    object
 7   finpos                                  930 non-null    object
 8   Financial position                      930 non-null    object
 9   stk_flow                                930 non-null    object
 10  Stock or flow                           930 non-null    object
 11  sector                                  930 non-null    object
 12  Sector                                  930 non-null    object
 13  sector2                                 930 non-null    object
 14  Counterpart sector                      930 non-null    object
 15  co_nco                                  930 non-null    object
 16  Consolidated/Non consolidated           930 non-null    object
 17  unit                                    930 non-null    object
 18  Unit of measure                         930 non-null    object
 19  geo                                     930 non-null    object
 20  Geopolitical entity (reporting)         930 non-null    object
 21  TIME_PERIOD                             930 non-null    object
 22  Time                                    0 non-null      float64
 23  OBS_VALUE                               930 non-null    float64
 24  Observation value                       0 non-null      float64
 25  OBS_FLAG                                60 non-null     object
 26  Observation status (Flag) V2 structure  60 non-null     object
 27  CONF_STATUS                             0 non-null      float64
 28  Confidentiality status (flag)           0 non-null      float64
dtypes: float64(5), object(24)
memory usage: 210.8+ KB

In [55]:
# VALIDAMOS TODAS LA COLUMNAS#

df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'na_item', 'National accounts indicator (ESA 2010)', 'finpos',
       'Financial position', 'stk_flow', 'Stock or flow', 'sector', 'Sector',
       'sector2', 'Counterpart sector', 'co_nco',
       'Consolidated/Non consolidated', 'unit', 'Unit of measure', 'geo',
       'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE',
       'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [56]:
df["finpos"].unique()

array(['LIAB'], dtype=object)

In [57]:
#Empezamos con el filtrado de la data que nos intersa#

df = df[df['na_item'] == "BF90"] #FILTRAMOS PARA QUE NOS QUEDE SOLO FQUE INDICAN LAS VARIABLES FINANCIERAS DEL GOBIERNO9#
df = df[df['sector'] == "S13"] #FILTRAMOS PARA QUE NOS QUEDE SOLO S13 QUE INDICA EL GOBIERNO EN GENERAL#
df = df[df['unit'] == "MIO_EUR"] #FILTRAMOS PARA QUE NOS QUEDE MILLONES DE EUROS#
df = df[df['finpos'] == "LIAB"] #FILTRAMOS PARA QUE NOS QUEDEN LOS PASIVOS#

df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,na_item,National accounts indicator (ESA 2010),finpos,Financial position,stk_flow,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q1,NaN,-197341.8,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q2,NaN,-198387.8,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q3,NaN,-190542.5,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2018-Q4,NaN,-194800.6,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:GOV_10Q_GGFA(1.0),Quarterly financial accounts for general gover...,Q,Quarterly,BF90,Financial net worth,LIAB,Liabilities,STK,...,AT,Austria,2019-Q1,NaN,-197411.8,NaN,NaN,NaN,NaN,NaN

In [58]:
#AHORA VAMOS A REDUCIR LAS COLUMNAS QUE SI NOS INTERESAN,
#YA QUE MUNAS DE ELLAS NOS SON IRRELEVANTES DE LAS CUALES NOS QUEDAMOS CON 6 DE LAS FILTRADAS#

In [59]:
#SELECCIONAMOS LAS COLUMNAS CON LAS QUE NOS QUEDAREMOS#

df = df[['geo',
         'Geopolitical entity (reporting)',
         'TIME_PERIOD',
         'OBS_VALUE',
         'na_item',
         'finpos']]

df.head()

  geo Geopolitical entity (reporting) TIME_PERIOD  OBS_VALUE na_item finpos
0  AT                         Austria     2018-Q1  -197341.8    BF90   LIAB
1  AT                         Austria     2018-Q2  -198387.8    BF90   LIAB
2  AT                         Austria     2018-Q3  -190542.5    BF90   LIAB
3  AT                         Austria     2018-Q4  -194800.6    BF90   LIAB
4  AT                         Austria     2019-Q1  -197411.8    BF90   LIAB

In [60]:
#PROCEDEMOS A TRANSCRIBIR EL NOMBRE DE LAS COLUMNAS SEGUN LA INFORMACION DEL SATASET DE LA PAGINA OFICIAL
#  https://ec.europa.eu/eurostat/cache/metadata/en/gov_10q_ggfa_esms.htm , A ESPA;OL#

df = df.rename(columns={
    'geo': 'Codigo de Pais',
    'Geopolitical entity (reporting)': 'Pais',
    'TIME_PERIOD': 'Periodo',
    'OBS_VALUE': 'Millores de Euros',
    'na_item': 'indicador',
    'finpos': 'Posicion Financiera'
})

df.head()

,Codigo de Pais,Pais,Periodo,Millores de Euros,indicador,Posicion Financiera
0,AT,Austria,2018-Q1,-197341.8,BF90,LIAB
1,AT,Austria,2018-Q2,-198387.8,BF90,LIAB
2,AT,Austria,2018-Q3,-190542.5,BF90,LIAB
3,AT,Austria,2018-Q4,-194800.6,BF90,LIAB
4,AT,Austria,2019-Q1,-197411.8,BF90,LIAB

In [61]:
#AHORA SI PROCEDEMOS A VER NULOS Y EMPEZAMOS CON LA LIMPIEZA ANTES DE EMPEZAR CON TRANSFORMACION#

df.isnull().sum()

Codigo de Pais         0
Pais                   0
Periodo                0
Millores de Euros      0
indicador              0
Posicion Financiera    0
dtype: int64

In [62]:
df[df.isnull().all(axis=1)]

Empty DataFrame
Columns: [Codigo de Pais, Pais, Periodo, Millores de Euros, indicador, Posicion Financiera]
Index: []

In [63]:
len(df)

930

In [ ]:
#CON ESTO OBSERVAMOS QUE NO HAY BULOS NI FILAS NI COLUMNAS#