In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sp500= pd.read_csv(r'archive(2)\sp500_2025_h1_wide_clean.csv')

Análisis de los datos

In [3]:
sp500.columns

Index(['company_name', 'ticker', '02-01-2025_opening', '02-01-2025_closing',
       '02-01-2025_volume', '03-01-2025_opening', '03-01-2025_closing',
       '03-01-2025_volume', '06-01-2025_opening', '06-01-2025_closing',
       ...
       '25-06-2025_volume', '26-06-2025_opening', '26-06-2025_closing',
       '26-06-2025_volume', '27-06-2025_opening', '27-06-2025_closing',
       '27-06-2025_volume', '30-06-2025_opening', '30-06-2025_closing',
       '30-06-2025_volume'],
      dtype='object', length=368)

In [4]:
sp500.isnull().sum()

company_name          0
ticker                0
02-01-2025_opening    0
02-01-2025_closing    0
02-01-2025_volume     0
                     ..
27-06-2025_closing    0
27-06-2025_volume     0
30-06-2025_opening    0
30-06-2025_closing    0
30-06-2025_volume     0
Length: 368, dtype: int64

In [5]:
sp500[['company_name', 'ticker']]

                 company_name ticker
0                      Nvidia   NVDA
1                   Microsoft   MSFT
2                  Apple Inc.   AAPL
3                      Amazon   AMZN
4              Meta Platforms   META
..                        ...    ...
498              Henry Schein   HSIC
499           LKQ Corporation    LKQ
500  Eastman Chemical Company    EMN
501                    CarMax    KMX
502       News Corp (Class B)    NWS

[503 rows x 2 columns]

In [8]:
sp500.describe()

,02-01-2025_opening,02-01-2025_closing,02-01-2025_volume,03-01-2025_opening,03-01-2025_closing,03-01-2025_volume,06-01-2025_opening,06-01-2025_closing,06-01-2025_volume,07-01-2025_opening,...,25-06-2025_volume,26-06-2025_opening,26-06-2025_closing,26-06-2025_volume,27-06-2025_opening,27-06-2025_closing,27-06-2025_volume,30-06-2025_opening,30-06-2025_closing,30-06-2025_volume
count,503.000000,503.000000,5.030000e+02,503.000000,503.000000,5.030000e+02,503.000000,503.000000,5.030000e+02,503.000000,...,5.030000e+02,503.000000,503.000000,5.030000e+02,503.000000,503.000000,5.030000e+02,503.000000,503.000000,5.030000e+02
mean,217.431673,215.383907,4.535764e+06,216.253498,217.523056,4.467972e+06,218.258478,217.394651,5.699455e+06,218.017770,...,5.847507e+06,221.366198,222.122246,6.118534e+06,222.517049,223.599237,9.353137e+06,224.032071,225.223419,6.806195e+06
std,480.924899,473.348505,1.222235e+07,474.494413,476.399099,1.284490e+07,477.305695,474.101269,1.532948e+07,476.154088,...,1.589694e+07,469.270678,472.115902,1.364678e+07,473.224870,478.852059,2.155338e+07,479.615982,483.450137,1.494309e+07
min,9.410000,9.350000,2.757100e+04,9.340000,9.330000,1.804400e+04,9.580000,9.430000,4.714400e+04,9.510000,...,1.934300e+04,8.970000,9.120000,2.461700e+04,9.120000,9.010000,2.751800e+04,9.040000,8.930000,2.116300e+04
25%,69.840000,69.270000,9.111230e+05,69.577500,69.865000,8.858790e+05,70.630000,71.090000,1.113781e+06,71.120000,...,1.191480e+06,68.587500,69.055000,1.228765e+06,69.450000,68.945000,1.959109e+06,68.757500,69.330000,1.384224e+06
50%,120.500000,120.630000,1.844594e+06,121.210000,121.580000,1.889257e+06,121.810000,121.000000,2.262657e+06,121.041200,...,2.467383e+06,127.580000,126.620000,2.575085e+06,126.880000,126.080000,3.796506e+06,126.295000,126.870000,2.769728e+06
75%,228.865000,228.335000,3.717299e+06,228.699350,229.215000,4.011698e+06,229.180000,229.400000,4.980843e+06,229.980000,...,5.085005e+06,238.487500,239.485000,5.690320e+06,239.092500,240.445000,8.287934e+06,240.682500,242.940000,5.869928e+06
max,8178.846000,7989.890000,1.982472e+08,8004.990000,8070.600000,2.293225e+08,8071.010000,7988.670000,2.653774e+08,8059.950000,...,2.691465e+08,7242.720000,7280.440000,1.981457e+08,7290.093000,7375.510000,2.632345e+08,7391.390000,7385.660000,1.945803e+08

In [10]:
# 1. Convertir de wide a long (melt)
sp5L = sp500.melt(
    id_vars=["company_name", "ticker"],
    var_name="feature",
    value_name="value"
)

# 2. Separar la fecha y la métrica
sp5L[["date", "metric"]] = sp5L["feature"].str.rsplit("_", n=1, expand=True)

# 3. Convertir la fecha a tipo datetime
sp5L["date"] = pd.to_datetime(sp5L["date"], format="%d-%m-%Y")

# 4. Reordenar columnas (opcional, pero profesional)
sp5L = sp5L[["company_name", "ticker", "date", "metric", "value"]]

sp5L.head(7)

              company_name ticker       date   metric    value
0                   Nvidia   NVDA 2025-01-02  opening  136.000
1                Microsoft   MSFT 2025-01-02  opening  425.530
2               Apple Inc.   AAPL 2025-01-02  opening  248.657
3                   Amazon   AMZN 2025-01-02  opening  222.030
4           Meta Platforms   META 2025-01-02  opening  589.720
5                 Broadcom   AVGO 2025-01-02  opening  236.155
6  Alphabet Inc. (Class A)  GOOGL 2025-01-02  opening  190.650

In [14]:
sp5L.columns

Index(['company_name', 'ticker', 'date', 'metric', 'value'], dtype='object')

## Datos financieros.

Top empresas por volumen.

In [18]:
vol_empresa = sp500.filter(like="_volume")
volume_total = pd.DataFrame({
    'company_name': sp500['company_name'],
    'total_volume': vol_empresa.sum(axis=1)
}).sort_values('total_volume', ascending=False)
volume_total.head(5)

              company_name  total_volume
0                   Nvidia   32280203644
8              Tesla, Inc.   13402827659
220     Ford Motor Company   13187284458
19   Palantir Technologies   12112759886
62                   Intel   11662644157